* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #6f8abb;
}

/* Outer/Container div*/

#container {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 15px;
    padding: 30px;
}

#container h1 {
    font-weight: 600;
    border-bottom: 1.75px solid #222;
    padding-bottom: 15px;
}

/* Inner/Questions div*/

.inner {
    padding: 20px 0;
}

.inner h2 {
    font-size: 25px;
    font-weight: 600;
}

/* Buttons */

.btn {
    color: #222;
    text-align: left;
    background: #fff;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    border: 1.75px solid #222;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
}

.btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 #6f8abb;
    cursor: pointer;
    transition: 180ms;
    transform: scale(1.03);
}

